.App {
  text-align: center;
  display: flex;
    flex-direction: column;
}

.pagination{
  margin-left:550px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.col-4{
            width: 100%;
            margin:0;
            white-space: nowrap;
    }

    .sameline1{
      display: inline-block;
      margin-left: 105px;
      
    }
    .sameline2{
      display: inline-block;
      
    }

    input[type=text] {
  width: 400px;
  height:20px;
 box-decoration-break:clone;
}
  p.namebold{
    font-weight: bold;
  }
.detail {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 25%;
  min-width:210px;
  color: #333;
  flex-basis: width;
  background-color: rgb(165, 230, 230);
  height:max-content;
  overflow: hidden;
  float: left;
  font-size: 14px;
  
  
}

.FavButton{
  background-color: rgb(18, 201, 201);
  border-radius: 4px;
  height:30px
 
}

.FavButton :hover {
  background-color:white;
  color:white;
}

.cover {
  border: 2px solid gray;
  height: 93%;
  overflow: hidden;
  background: white;
  text-align: center;
  width: 205px;
  margin-right:11px;
  margin-left:0px;
}
.container {
  margin: 0 auto;
  max-width: 910px;
}
.details {
  margin: 0 -5px;
  white-space: nowrap
}
.col-4::after{
  content: "";
  display: table;
  clear: both;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

